#pane {
    -fx-background-image: url('img/bg.jpg');
    -fx-opacity: 0.8;
    -fx-background-position: top;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-alignment: center;
}

#intPane{
    -fx-background-color: white;
    -fx-background-position: center;
    -fx-opacity: 1;

    /*rounded*/
    -fx-hgap: 20px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    /*-fx-fit-to-height: true;*/
    /*-fx-fit-to-width: true;*/
    -fx-alignment: center;
    /*pane to be always in the center*/
    /*-fx-border-width: 5px;*/
    /*-fx-border-color: black;*/
    -fx-effect: dropshadow(three-pass-box,rgb(0,0,0,0.9),10,0,0,0);
}


#doneButton{
    /*-fx-alignment: right;*/
    /*-fx-hgap: 5px;*/
    /*-fx-border-radius: 50px;*/
    /*-fx-background-radius: 50px;*/
    /*-fx-background-color: green;*/
    /*-fx-text-fill: white;*/

}

#infoButton{
-fx-background-radius: 50;
-fx-background-color: #0756DF;
}
#infoButton: hover{
-fx-background-color: #739EE8;
}

#signUpButton{
-fx-background-radius: 20;
-fx-background-color: #77F609;
-fx-radius: 20%;
}
#signUpButton:hover {
   -fx-background-color: #A0E564;
}


#logInButton{
-fx-background-radius: 20;
-fx-background-color: #77F609;
-fx-radius: 20%;
}
#logInButton:hover {
   -fx-background-color: #A0E564;
}



#reservationButton{
-fx-background-radius: 20;
-fx-background-color: #77F609;
-fx-radius: 20%;
}

#reservationButton:hover {
   -fx-background-color: #A0E564;
}





#Title{

    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, lime 0%, green 50%);
    /*-fx-stroke: black;
    -fx-stroke-width: 1;*/
}